body{
    background-color: black;
}
main{
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 880px;
    height: 74px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: rgba(84, 84, 84, 1);
    margin-top: 20px;
}
.profile_pic{
    border-radius: 50%;
    width: 169px;
    height: 169px;
}
h1,h2{
    color: aliceblue;
}   
.profile{
    display: flex;
}
.profile_card{
    display: flex;
    width: 400px;
    align-items: center;
}
.profile_name{
    margin-left: 20px;
}